# Do not check in build artifacts.
/target

# Do not check in lock files.
Cargo.lock

# Do not check in coverage artifacts.
lcov.info

# Do not check in benchmark files.
/bench

# Do not check in profiler files
perf.data
test.perf
